.profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 auto;
    display: block;
    margin-bottom: 20px;
    background-size: cover; 
    background-position: center;
}

.col-center {
    text-align: center;
}