
:root {
    --primary-color: #242e4ce6; /* replace with your desired color */
    --secondary-color: #f8f9fa; /* replace with your desired color */
    --tertiary-color: #bfbfbf; /* replace with your desired color */
}

body {
    min-width: 290px;
}

.header-profile-picture {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    background-color: var(--secondary-color);
    z-index: 3;
    mix-blend-mode: color-dodge;
}

@media screen and (min-width: 770px) {
    .header-profile-picture {
        top: -80px;
        position: relative;
        left: -15px;
    }
}

@media screen and (max-width: 590px) {
    .header-profile-picture {
        width: 150px;
        height: 150px;
    }
}

.header-profile-picture svg {
    width: 340px;
    height: 200px;

}

.header-profile-picture img{
    border-radius: 50%;
    width: 100%;
}


.col-center {
    text-align: center;
}


.header-image {
    background-image: url(/static/assets/img/illustrations/social.svg);
    background-size: cover;
    background-position: center;
    height: 380px;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-end;
    justify-content: space-evenly;
    padding-inline: 25px;
}

.header-image::before {
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--primary-color); /* Adjust color and opacity as needed */
    z-index: 1;
}

.header-row{
    z-index: 1; 
    position: relative;
    bottom: 100%;
}

.header-figure{
    z-index: 2;
}

.header-title {
    mix-blend-mode: difference;
    z-index: 3;
    text-align: center;
    font-family: "vibes", system-ui;
    font-weight: 400;
    font-style: normal;
    padding-bottom: 120px;

}

@media screen and (max-width: 585px) {
    .header-title {
        font-size: 4rem;
    }

    .profile-picture {
        width: 150px;
        height: 174px;
    }
}

@media screen and (max-width: 380px) {
    .header-title {
        padding-bottom: 0;
    }
}

.header-title h1{
    font-size: calc(2.75rem + 1.5vw);
    /* padding-bottom: 120px; */
}

.btn-bar{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 30px;
    /* margin-top: 20px; */
    justify-items: flex-start;
    flex-wrap: wrap;
    align-content: center;
    /* align-items: center; */
    align-items: baseline;
}

.form-select{
    padding-inline: 2rem;
}

.search-bar{
display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
    padding-bottom: 20px;
    direction: ltr;
    align-items: baseline;
    border-bottom-color: var(--primary-color);
    gap: 10px;
}

.search-bar > .input-group {
    max-width: fit-content;
}

.search-bar input{
    direction: rtl;
}

.search-bar span{
    cursor: pointer;
}

.search-bar > .input-group button{
    padding: 0px;
}

.search-result{
    padding: 45px;

}

.search-result ul{
    list-style-type: none;
    padding-inline: 0;
}

.checkbox-list{    
    padding-block: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-right: 20px;
    max-height: 100px;
}

.error{
    color: red;
}

.thumbnail {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 10px;
}

.lalezar-regular {
    font-family: "Lalezar", system-ui;
    font-weight: 400;
    font-style: normal;
}

.blaka-hollow-regular {
    font-family: "Blaka Hollow", system-ui;
    font-weight: 400;
    font-style: normal;
}

.vibes-regular {
    font-family: "Vibes", system-ui;
    font-weight: 400;
    font-style: normal;
}

.organic-radius {
    border-radius: 63% 37% 30% 70% / 50% 45% 55% 50%;
    border-color: var(--secondary-color);;
    border-width: 10px;
    border-style: solid;
}

.table-container {
    overflow-x: auto;
}

.pagination{
    direction: ltr;
}

.date-picker{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 5px;
}

.card-body{
    overflow-x: scroll;
    padding: 1.25rem 1rem;
}

table {
    border-radius: 15px;
    overflow: hidden;

}

tr{
    vertical-align: middle;
}

thead{
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

thead tr{
    vertical-align: middle;
    text-align: center;
}

tbody tr{
    vertical-align: middle;
    text-align: center;
    border-left: 1px solid var(--tertiary-color); 
    border-right: 1px solid var(--tertiary-color);
}



.header-global{
    overflow: hidden;
    /* height: 400px; */
    display: flex;
    flex-direction: column;
}

@media (min-width: 992px) { 
    .navbar-nav .dropdown-menu {
        display: block;
    }
}

@media (max-width: 991px) {
    .navbar-nav .dropdown-menu {
        position: absolute; 
    }

    .d-flex.align-items-center {
        order: 1;
        flex-wrap: wrap;
    }
}