<!-- Modal Content -->
<div class="modal fade " id="modal-default" tabindex="-1" role="dialog" aria-labelledby="modal-default" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="h6 modal-title">تأكيد</h2>
            </div>
            <div class="modal-body">
                <p id="modal-message"></p>
            </div>
            <div class="modal-footer">
                <input type="hidden" id="callback-url" value="">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="confirm-delete-btn">موافق</button>
                <button type="button" class="btn btn-link ms-auto" data-bs-dismiss="modal">إلغاء</button>
            </div>
        </div>
    </div>
</div>