{% extends "layouts/base.html" %}

{% block title %} تفاصيل ملف {% endblock %} 
{% block header_title %} تفاصيل الملف {% endblock %}
{% block header_profile_image %}{{ url_for('static', filename='profile_pictures/' + influencer.profile_picture) if influencer.profile_picture else 'https://via.placeholder.com/150' }}{% endblock %}

<!-- /static/assets/img/illustrations/reading-side.svg -->

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <main>
        
        {% include 'includes/preloader.html' %}

        <section class="section section-md">
            <div class="container">
                <form method="POST" enctype="multipart/form-data" action="{{ url_for('profiles_blueprint.influencer_edit',influencer_id=influencer.id) }}">
                    {{ form.hidden_tag() }}
                    {{ form.full_name.label }}
                    <div class="form-group">
                        {{ form.full_name(class_='form-control', size=30) }}
                        {% for error in form.full_name.errors %}
                        <span class="error">{{ error }}</span>
                        {% endfor %}
                    </div>
                    {{ form.gender.label }}
                    <div class="form-group">
                        {{ form.gender(class_='form-select',size=1) }}
                        {% for error in form.gender.errors %}
                        <span class="error">{{ error }}</span>
                        {% endfor %}
                    </div>
                    {{ form.country.label }}
                    <div class="form-group">
                        {{ form.country(class_='form-control',size=30) }}
                        {% for error in form.country.errors %}
                        <span class="error">{{ error }}</span>
                        {% endfor %}
                    </div>
                    {{ form.city.label }}
                    <div class="form-group">
                        {{ form.city(class_='form-control',size=30) }}
                        {% for error in form.city.errors %}
                        <span class="error">{{ error }}</span>
                        {% endfor %}
                    </div>
                    {{ form.phone.label }}
                    <div class="form-group">
                        {{ form.phone(class_='form-control',size=30) }}
                        {% for error in form.phone.errors %}
                        <span class="error">{{ error }}</span>
                        {% endfor %}
                    </div>
                    {{ form.email.label }}
                    <div class="form-group">
                        {{ form.email(class_='form-control',size=30) }}
                        {% for error in form.email.errors %}
                        <span class="error">{{ error }}</span>
                        {% endfor %}
                    </div>
                    {{ form.profile_picture.label }}
                    <div class="form-group">
                        {{ form.profile_picture(class_='form-control') }}
                        {% for error in form.profile_picture.errors %}
                        <span class="error">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <hr>
                    <div class="btn-bar">
                        <button type="submit" class="btn btn-primary" id="submitButton" disabled>حفظ</button>
                        <button type="button" class="btn btn-primary" id="addButton" onclick="location.href='{{ url_for('social_blueprint.socialaccount_add', influencer_id=influencer.id) }}';">إضافة حساب جديد</button>
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modal-default" onclick="openConfirmationModal('هل أنت متأكد من الحذف ؟','{{ url_for('profiles_blueprint.influencer_delete', influencer_id=influencer.id) }}');">حذف</button>
                    </div>
                    {% with messages = get_flashed_messages(with_categories=True) %}
                    {% if messages %}
                    <hr>
                    <ul class="flashes">
                        {% for category, message in messages %}
                        <li class="flash text-{{ category }}">{{ message }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    {% endwith %}
                </form>
            </div>
            </section>

        <section class="section section-md">
                {% if influencer.socialaccounts %}
                <hr>
                <h3>الحسابات</h3>
                <table class="table table-hover">
                    <tr>
                        <th scope="col">إسم بالكامل</th>
                        <th scope="col">المنصة</th>
                        <th scope="col">إسم المستخدم</th>
                        <th scope="col">نوع المحتوى</th>
                        <th scope="col">الوصف</th>
                        <th scope="col">صورة الحساب</th>
                    </tr>
                
                    {% for socialaccount in influencer.socialaccounts %}
                    <tr>
                        <td scope="row">{{ influencer.full_name }}</td>
                        <td scope="row">{{ socialaccount.platform.name }}</td>
                        <td scope="row">
                            <a href="{{ url_for('social_blueprint.socialaccount_edit', influencer_id=influencer.id, socialaccount_id=socialaccount.id) }}">
                                {{ socialaccount.username }}
                            </a>
                        </td>
                        <td scope="row">{{ socialaccount.content }}</td>
                        <td scope="row">{{ socialaccount.description }}</td>
                        <td scope="row">{{ socialaccount.profile_picture }}</td>
                    </tr>
                    {% endfor %}
                </table>
                {% endif %}
        </section>

    </main>

    {% include 'includes/footer.html' %}

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
    <script>
        // Get the form element
        const form = document.querySelector('form');

        // Add event listener to form inputs
        form.addEventListener('input', function () {
            // Enable the submit button when the form has changes
            document.getElementById('submitButton').disabled = false;
            document.getElementById('addButton').disabled = true;
        });
    </script>
{% endblock javascripts %}
