{% extends "layouts/base.html" %}

{% block title %} الملفات {% endblock %} 
{% block header_title %} إستعراض الملفات {% endblock %}
{% block header_profile_image %}/static/assets/img/illustrations/reading-side.svg{% endblock %}

<!-- /static/assets/img/illustrations/reading-side.svg -->


<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <main>
        
        {% include 'includes/preloader.html' %}
        <!-- Hero -->
        <section class="section-header">
            <div class="container">
                <div class="search-bar">
                    <form>
                        <div class="input-group">
                            <span class="input-group-text" id="basic-addon1"><button class="btn fas fa-search" type="submit"></button></span>
                            <input type="text" class="form-control" id="searchbox" placeholder="بحث بالإسم" aria-label="Search" aria-describedby="basic-addon1" name="q">
                        </div>
                    </form>
                </div>
                <table class="table table-hover">
                    <tr>
                        <th scope="col">الإسم</th>
                        <th scope="col">الجنس</th>
                        <th scope="col">البلد</th>
                        <th scope="col">المدينة</th>
                        <th scope="col">رقم الهاتف</th>
                        <th scope="col">البريد الالكتروني</th>
                        <th scope="col"></th>
                    </tr>
                    
                    {% for influencer in influencers %}
                        <tr>
                            <td scope="row">
                                <a href="{{ url_for('profiles_blueprint.influencer_edit', influencer_id=influencer.id) }}">
                                {{ influencer.full_name }}
                                </a>
                            </td>
                            <td scope="row">{{ influencer.gender }}</td>
                            <td scope="row">{{ influencer.country }}</td>
                            <td scope="row">{{ influencer.city }}</td>
                            <td scope="row">{{ influencer.phone }}</td>
                            <td scope="row">{{ influencer.email }}</td>
                            <td scope="row">
                                <div class="btn-bar">
                                    <a href="{{ url_for('profiles_blueprint.influencer_edit', influencer_id=influencer.id) }}" class="btn btn-primary btn-sm">تعديل</a>
                                    <a class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#modal-default" onclick="openConfirmationModal('هل أنت متأكد من الحذف ؟','{{ url_for('profiles_blueprint.influencer_delete', influencer_id=influencer.id) }}');">حذف</a>
                                </div>
                            </td>

                        </tr>
                        <tr>
                                <td scope="row" colspan="7">
                                    <div class="accordion" id="accordionExample1">
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="headingOne">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                    What is the purpose of a FAQ?
                                                </button>
                                            </h2>
                                            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample1">
                                                <div class="accordion-body">
                                                    <strong>This is the first item's accordion body.</strong> It is hidden by default, until
                                                    the collapse plugin adds the appropriate classes that we use to style each element.
                                                    These classes control the overall appearance, as well as the showing and hiding via CSS
                                                    transitions. You can modify any of this with custom CSS or overriding our default
                                                    variables. It's also worth noting that just about any HTML can go within the
                                                    <code>.accordion-body</code>, though the transition does limit overflow.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>

                    {% endfor %}
                </table>
                <hr>
                <a href="{{ url_for('profiles_blueprint.influencer_add') }}" class="btn btn-primary">إضافة ملف جديد</a>
            </div>
        </section>

    </main>

    {% include 'includes/footer.html' %}

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
