{% extends "layouts/base.html" %}

{% block title %} تعديل حساب {% endblock %}
{% block header_title %} تعديل حساب{% endblock %}
{% block header_sub_title %} {{influencer.full_name}}{% endblock %}
{% block header_profile_image %}{{ url_for('static', filename='profile_pictures/' + influencer.profile_picture) if influencer.profile_picture else 'https://via.placeholder.com/150' }}{% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<main>

    {% include 'includes/preloader.html' %}

    <!-- Section -->
    <section class="section section-md">
        <div class="container">
            <form method="POST" enctype="multipart/form-data" action="{{ url_for('social_blueprint.socialaccount_edit', influencer_id=influencer.id, socialaccount_id=socialaccount.id) }}">
                {{ form.hidden_tag() }}
                {{ form.platform.label }}
                <div class="form-group">
                    {{ form.platform(class_='form-select',size=1) }}
                    {% for error in form.platform.errors %}
                    <span class="error">{{ error }}</span>
                    {% endfor %}
                </div>
                {{ form.username.label }}
                <div class="form-group">
                    {{ form.username(class_='form-control',size=30) }}
                    {% for error in form.username.errors %}
                    <span class="error">{{ error }}</span>
                    {% endfor %}
                </div>
                {{ form.contents.label }}
                <div class="checkbox-list">
                    {% for choice in form.contents %}
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="contents" value="{{ choice.id }}" {% if choice.data|int in socialaccount.contents|map(attribute='id')|list %}checked{% endif %} >
                            {{ choice.label }}
                        </label>
                    </div>
                    {% endfor %}
                </div>
                {{ form.description.label }}
                <div class="form-group">
                    {{ form.description(class_='form-control',size=30) }}
                    {% for error in form.description.errors %}
                    <span class="error">{{ error }}</span>
                    {% endfor %}
                </div>
                {{ form.profile_picture.label }}
                <div class="form-group">
                    {{ form.profile_picture(class_='form-control') }}
                    {% for error in form.profile_picture.errors %}
                    <span class="error">{{ error }}</span>
                    {% endfor %}
                </div>
                <hr>
                <div class="btn-bar">
                    <button type="submit" class="btn btn-primary" id="submitButton" disabled>حفظ</button>
                    <button type="button" class="btn btn-secondary" onclick="window.location.href='{{ url_for('social_blueprint.socialaccounts', influencer_id=influencer.id) }}'">الغاء</button>
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modal-default" onclick="openConfirmationModal('هل أنت متأكد من الحذف ؟','{{ url_for('social_blueprint.socialaccount_delete', influencer_id=influencer.id, socialaccount_id=socialaccount.id) }}');">حذف</button>
                </div>
            </form>
            
            {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
            <hr>
            <ul class="flashes">
                {% for category, message in messages %}
                <li class="flash {{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
            <hr>
            {% endif %}
            {% endwith %}

        </div>
    </section>
</main>

{% include 'includes/footer.html' %}

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
    <script>
        // Get the form element
        const form = document.querySelector('form');

        // Add event listener to form inputs
        form.addEventListener('input', function () {
            // Enable the submit button when the form has changes
            document.getElementById('submitButton').disabled = false;
        });
    </script>
{% endblock javascripts %}




