{% extends "layouts/base.html" %}

{% block title %} إضافة حساب {% endblock %}
{% block header_title %} إضافة حساب{% endblock %}
{% block header_sub_title %} {{influencer.full_name}}{% endblock %}
{% block header_profile_image %}{{ url_for('static', filename='profile_pictures/' + influencer.profile_picture) if influencer.profile_picture else 'https://via.placeholder.com/150' }}{% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<main>

    {% include 'includes/preloader.html' %}

    <!-- Section -->
    <section class="section section-md">
        <div class="container">
            <form method="POST" enctype="multipart/form-data" action="{{ url_for('social_blueprint.socialaccount_add', influencer_id=influencer.id) }}">
                {{ form.hidden_tag() }}
                {{ form.platform.label }}
                <div class="form-group">
                    {{ form.platform(class_='form-select',size=1) }}
                    {% for error in form.platform.errors %}
                    <span class="error">{{ error }}</span>
                    {% endfor %}
                </div>
                {{ form.username.label }}
                <div class="form-group">
                    {{ form.username(class_='form-control',size=30) }}
                    {% for error in form.username.errors %}
                    <span class="error">{{ error }}</span>
                    {% endfor %}
                </div>
                {{ form.content_type.label }}
                <div class="form-group">
                    {{ form.content_type(class_='form-select',size=1) }}
                    {% for error in form.content_type.errors %}
                    <span class="error">{{ error }}</span>
                    {% endfor %}
                </div>
                {{ form.description.label }}
                <div class="form-group">
                    {{ form.description(class_='form-control',size=30) }}
                    {% for error in form.description.errors %}
                    <span class="error">{{ error }}</span>
                    {% endfor %}
                </div>
                {{ form.profile_picture.label }}
                <div class="form-group">
                    {{ form.profile_picture(class_='form-control') }}
                    {% for error in form.profile_picture.errors %}
                    <span class="error">{{ error }}</span>
                    {% endfor %}
                </div>
                <hr>
                <div class="btn-bar">
                    <button type="submit" class="btn btn-primary">إضافة</button>
                    <a href="{{ url_for('social_blueprint.socialaccounts', influencer_id=influencer.id) }}" class="btn btn-secondary">إلغاء</a>
                </div>

                {% with messages = get_flashed_messages(with_categories=True) %}
                    {% if messages %}
                        <ul class="flashes">
                            {% for category, message in messages %}
                                <li class="flash {{ category }}">{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endwith %}
            </form>
        </div>
    </section>
</main>


{% include 'includes/footer.html' %}

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}




