{% extends "layouts/base.html" %}

{% block title %} أمواج المشاهير {% endblock %}
{% block header_title %} أمواج المشاهير{% endblock %}
{% block header_sub_title %} جميع الحقوق محفوظة 2024 {% endblock %}
{% block header_profile_image %}/static/assets/img/favicon/mstile-150x150.png{% endblock %}

<!-- /static/assets/img/illustrations/reading-side.svg -->


<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <main>

        {% include 'includes/preloader.html' %}

        <section class="section section-lg pt-0">
            <div class="container">
                <div class="card border-0 overflow-hidden pt-6">
                    <div class="position-relative">
                        <img src="{{ url_for('static', filename='profile_pictures/' + stats.get('random_pictures')[0]) if stats.get('random_pictures')[0] else 'https://via.placeholder.com/150' }}" class="organic-radius img-fluid" style="width: 20%;">
                        <img src="{{ url_for('static', filename='profile_pictures/' + stats.get('random_pictures')[1]) if stats.get('random_pictures')[1] else 'https://via.placeholder.com/150' }}" class="organic-radius img-fluid" style="position: absolute;width: 20%;top: 5%;left: 35%;z-index: 2;">
                        <img src="{{ url_for('static', filename='profile_pictures/' + stats.get('random_pictures')[2]) if stats.get('random_pictures')[2] else 'https://via.placeholder.com/150' }}" class="organic-radius img-fluid" style="position: absolute;width: 20%;top: -20%;left: 65%;z-index: 3;">
                        <img src="{{ url_for('static', filename='profile_pictures/' + stats.get('random_pictures')[3]) if stats.get('random_pictures')[3] else 'https://via.placeholder.com/150' }}" class="organic-radius img-fluid" style="position: absolute;width: 20%;top: -15%;left: 10%;z-index: 1;">
                        <img src="{{ url_for('static', filename='profile_pictures/' + stats.get('random_pictures')[4]) if stats.get('random_pictures')[4] else 'https://via.placeholder.com/150' }}" class="organic-radius img-fluid" style="position: absolute;width: 20%;top: -25%;left: 50%;z-index: 1;">
                        <img src="{{ url_for('static', filename='profile_pictures/' + stats.get('random_pictures')[5]) if stats.get('random_pictures')[5] else 'https://via.placeholder.com/150' }}" class="organic-radius img-fluid" style="position: absolute;width: 20%;top: 10%;left: 0%;z-index: 0;">
                        <img src="{{ url_for('static', filename='profile_pictures/' + stats.get('random_pictures')[6]) if stats.get('random_pictures')[6] else 'https://via.placeholder.com/150' }}" class="organic-radius img-fluid" style="position: absolute;width: 20%;top: 6%;left: 70%;z-index: 2;">
                        <img src="{{ url_for('static', filename='profile_pictures/' + stats.get('random_pictures')[7]) if stats.get('random_pictures')[7] else 'https://via.placeholder.com/150' }}" class="organic-radius img-fluid" style="position: absolute;width: 20%;top: 10%;left: 20%;z-index: 3;">
                        <img src="{{ url_for('static', filename='profile_pictures/' + stats.get('random_pictures')[8]) if stats.get('random_pictures')[8] else 'https://via.placeholder.com/150' }}" class="organic-radius img-fluid" style="position: absolute;width: 20%;top: 15%;left: 50%;z-index: 1;">
                        <img src="{{ url_for('static', filename='profile_pictures/' + stats.get('random_pictures')[9]) if stats.get('random_pictures')[9] else 'https://via.placeholder.com/150' }}" class="organic-radius img-fluid" style="position: absolute;width: 20%;top: -25%;left: 30%;z-index: 1;">                            
                    </div>
                    <div class="card-body position-relative mt-n6 mx-2 bg-white border border-gray-300 text-center rounded py-8">
                        <h3 class="h5 card-title">نظرة خاطفة</h3>
                        <p>عدد المستخدمين الحاليين: {{stats.get('total_users')}}</p>
                        <p>عدد الملفات المفتوحة:{{stats.get('total_profiles')}}</p>
                        <p>عدد حسابات مواقع التواصل الإجتماعي:{{stats.get('total_accounts')}}</p>
                        <p>عدد مرات المسح حتى الآن:{{stats.get('total_scans')}}</p>
                        <p>آخر تاريخ للمسح:{{stats.get('last_scan_date')}} @ {% if stats.get('last_scan_time') %}{{stats.get('last_scan_time').strftime('%H:%M')}}{% endif %}</p>
                        <p class="h6">عدد مرات المسح لكل منصة:</p>
                        {% for platform in stats.get('platforms')%}
                            <p>{{platform[0]}}:{{platform[1]}}</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>

    </main>

    {% include 'includes/footer.html' %}

    {% include 'includes/scripts.html' %}

{% endblock %}