{% extends "layouts/base.html" %}

{% block title %} بحث {% endblock %}
{% block header_title %} بحث {% endblock %}
{% block header_profile_image %}'/static/assets/img/illustrations/search.svg'{% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<main>

    {% include 'includes/preloader.html' %}

        <div class="container">
            <form method="POST" enctype="multipart/form-data" action="{{ url_for('home_blueprint.search') }}">
                {{ form.hidden_tag() }}
                {{ form.platform.label }}
                <div class="form-group">
                    {{ form.platform(class_='form-select',size=1) }}
                    {% for error in form.platform.errors %}
                    <span class="error">{{ error }}</span>
                    {% endfor %}
                </div>
                {{ form.username.label }}
                <div class="form-group">
                    {{ form.username(class_='form-control',size=30) }}
                    {% for error in form.username.errors %}
                    <span class="error">{{ error }}</span>
                    {% endfor %}
                </div>
                <hr>
                <div class="btn-bar">
                    <button type="submit" class="btn btn-primary">بحث</button>
                    {% if profile_data and not profile_data.get('error')%}
                        {%if profile_data.get('existing_record') %}
                            <p class="text-danger">إسم المستخدم موجود بقاعدة البيانات على هذه المنصة</p>
                        {%else%}
                            <p class="text-success">إسم المستخدم غير موجود بقاعدة البيانات على هذه المنصة</p>
                        {% endif %}
                    {% endif %}
                </div>
                <hr>
            </form>
                {% with messages = get_flashed_messages(with_categories=True) %}
                {% if messages %}
                <hr>
                <ul class="flashes">
                    {% for category, message in messages %}
                    <li class="flash text-{{ category }}">{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                {% endwith %}

            {% if profile_data and not profile_data.get('error') %}
            <div class="search-result">
                <h2>بيانات الملف الشخصي<span class="fab fa-{{profile_data.get('platform_name_english').lower()}} me-2"></span></h2>
                <div class="row">
                    <div class="col-md-6">
                        <ul>
                            <li>
                                <a href="{{ profile_data.get('external_url') }}" class="form-control" target="_blank">رابط الملف الشخصي</a>
                            </li>
                            <li>
                                <div class="label">المنصة</div>
                                <div class="form-control">{{ profile_data.get('platform') }}</div>
                            </li>
                            <li>
                                <div class="label">الإسم بالكامل</div>
                                <div class="form-control">{{ profile_data.get('public_profile_name') }}</div>
                            </li>
                            <li>
                                <div class="label">عدد المتابعين</div>
                                <div class="form-control">{{ "{:,}".format(profile_data.get('followers')) }}</div>
                            </li>
                            <li>
                                <div class="label">عدد الإعجابات</div>
                                <div class="form-control">{{ "{:,}".format(profile_data.get('likes')) }}</div>
                            </li>
                            <li>
                                <div class="label">عدد المقاطع المنشورة</div>
                                <div class="form-control">{{ "{:,}".format(profile_data.get('posts')) }}</div>
                            </li>
                            <li>
                                <div class="label">نص البايو</div>
                                <div class="form-control">{{ profile_data.get('bio_text') }}</div>
                            </li>
                            <li>
                                <div class="label">الوقت المستغرق</div>
                                <div class="form-control">{{ profile_data.get('time_taken') }}</div>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <div class="form-control" style="height: 100%;">
                            <img src="{{ profile_data.profile_picture }}" alt="Profile Image" style="height: 100%; width: auto;">
                        </div>
                    </div>
                </div>
                {% if not profile_data.existingRecord %}
                <div class="btn-bar">
                    <a href="{{ url_for('profiles_blueprint.influencer_add') }}" class="btn btn-primary">إضافة ملف شخصي</a>
                </div>
                {% endif %}
            </div>
            {% endif %}
        </div>

</main>


{% include 'includes/footer.html' %}

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}