{% extends "layouts/base.html" %}

{% block title %} بحث {% endblock %}
{% block header_title %} بحث {% endblock %}
{% block header_profile_image %}'/static/assets/img/illustrations/search.svg'{% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<main>

    {% include 'includes/preloader.html' %}

    <!-- Section -->
    <section class="section section-md">
        <div class="container">
            <form method="POST" enctype="multipart/form-data" action="{{ url_for('home_blueprint.search') }}">
                {{ form.hidden_tag() }}
                {{ form.platform.label }}
                <div class="form-group">
                    {{ form.platform(class_='form-select',size=1) }}
                    {% for error in form.platform.errors %}
                    <span class="error">{{ error }}</span>
                    {% endfor %}
                </div>
                {{ form.username.label }}
                <div class="form-group">
                    {{ form.username(class_='form-control',size=30) }}
                    {% for error in form.username.errors %}
                    <span class="error">{{ error }}</span>
                    {% endfor %}
                </div>
                <hr>
                <div class="btn-bar">
                    <button type="submit" class="btn btn-primary">بحث</button>
                </div>
                <hr>

                {% with messages = get_flashed_messages(with_categories=True) %}
                {% if messages %}
                <ul class="flashes">
                    {% for category, message in messages %}
                    <li class="flash {{ category }}">{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                {% endwith %}

            </form>

            {% if profile_data %}
                <div class="search-result">
                    <h2>بيانات الملف الضخصي</h2>
                    <div class="row">
                        <div class="col-md-6">
                            <ul>
                                <li><div class="label">رابط الملف الشخصي</div> <div class="form-control">{{ profile_data.external_url }}</div></li>
                                <li><div class="label">الإسم بالكامل</div> <div class="form-control">{{ profile_data.public_profile_name }}</div></li>
                                <li><div class="label">التعريف</div> <div class="form-control">{{ profile_data.bio_text }}</div></li>
                                <li><div class="label">عدد المتابعين</div> <div class="form-control">{{ profile_data.followers }}</div></li>
                                <li><div class="label">عدد الإعجابات</div> <div class="form-control">{{ profile_data.likes }}</div></li>
                                <li><div class="label">عدد المنشورات</div> <div class="form-control">{{ profile_data.posts }}</div></li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <div class="form-control" style="height: 100%;">
                                <img src="{{ profile_data.profile_picture }}" alt="Profile Image" style="height: 100%; width: auto;">
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </section>
</main>


{% include 'includes/footer.html' %}

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}