<div class="row header-row" style="mix-blend-mode: difference;z-index: 3;">
    <div class="col text-center text-md-left" style=" top: 110px; position: relative;">
        <h1 style="color: white; font-size: 6rem; font-weight: 900;"> {% block header_title %}{% endblock %} </h1>
    </div>
    <div class="col-md-6 col-center">
        <div class="profile-picture" style="background-image: url({% block header_profile_image %}https://via.placeholder.com/200{% endblock %});"></div>
    </div>
</div>













<div class="row header-row">
    <div class="col text-center text-md-left">
        <h1>{% block header_title %}{% endblock %}</h1>
    </div>
    <div class="col-md-6 col-center">
        <div class="profile-picture" style="background-image: url({% block header_profile_image %}https://via.placeholder.com/200{% endblock %});"></div>
    </div>
</div>
